<template>
  <b-row class="investment-summary">
    <b-col col cols="12" lg="12" sm="12">
      <div class="table-responsive">
        <b-table :items="items" :fields="fields" />
      </div>
    </b-col>
  </b-row>
</template>

<script>
import axios from 'axios'
export default {
  name: 'InvestmentSummaryDetail',
  data () {
    return {
      fields: ['name', 'interest_rate', 'investment_amount', 'amount_paid', 'amount_unpaid', 'outstanding_balance'],
      items: []
    }
  },
  mounted () {
    axios({
      'method': 'GET',
      'url': 'http://www.mocky.io/v2/5c66d89d300000ec0b8c2b46'
    }).then(result => {
      this.items = result.data
    }, error => {
      console.error(error)
    })
  }
}
</script>

<style scoped lang="scss">
  .investment-summary {
    h4 {
      font-size: 1em
    }
    .card-text {
      font-size: 2em

    }
  }
</style>
