<template>
  <b-row id="investment-summary" class="investment-container investment-summary">
    <b-col col cols="12" lg="12" sm="12">
      <h3 class="mb-4">Resumen cartera vigente</h3>
    </b-col>
    <b-col col cols="12" lg="4" sm="12">
      <b-card class="custom-card" title="Proyectos con inversiones vigentes">
        <div class="card-text">
          <strong>{{summary.total_current_investments}}</strong>
        </div>
      </b-card>
    </b-col>
    <b-col col cols="12" lg="4" sm="12">
      <b-card class="custom-card" title="Monto inversión vigente (monto bruto)">
        <div class="card-text">
          <strong>{{summary.current_investment_amount}}</strong>
        </div>
      </b-card>
    </b-col>
  </b-row>
</template>

<script>
import axios from 'axios'
export default {
  name: 'InvestmentSummary',
  data () {
    return {
      'summary': {
      }
    }
  },
  mounted () {
    axios({
      'method': 'GET',
      'url': 'http://www.mocky.io/v2/5c66d4f7300000eb0a8c2b35'
    }).then(result => {
      this.summary = result.data
    }, error => {
      console.error(error)
    })
  }
}
</script>

<style scoped lang="scss">
  .investment-summary {
    h4 {
      font-size: 1em;
    }
    .card-text {
      font-size: 2em;
    }
  }
</style>
