<template>
  <b-row id="expiration-container" class="investment-child-container mt-5 mb-5">
    <b-col col cols="12" lg="12" sm="12">
      <h3 class="mb-4">Vencimientos próximos 5 meses</h3>
    </b-col>
    <template v-for="item in items">
      <b-col col cols="12" lg="2" sm="12" :key="item.id">
        <b-card class="custom-card" v-bind:title="item.month">
          <div class="card-text">
            <span class="price"><strong>{{item.amount}}</strong></span>
            <b-link v-b-modal="modalId(item.id)" class="more-info">1 inversión</b-link>
            <b-modal :id="modalId(item.id)">
              <div class="table-responsive">
                <h3>Vencimientos {{item.month}}</h3>
                <NextExpirationDetail :detail="item.detail"></NextExpirationDetail>
              </div>
            </b-modal>
          </div>
        </b-card>
      </b-col>
    </template>
  </b-row>
</template>

<script>
import axios from 'axios'
import NextExpirationDetail from './NextExpirationDetail'
export default {
  name: 'NextExpiration',
  data () {
    return {
      items: []
    }
  },
  components: {NextExpirationDetail},
  methods: {
    modalId (id) {
      return 'modal' + id
    }
  },
  mounted () {
    axios({
      'method': 'GET',
      'url': 'http://www.mocky.io/v2/5c66e4dd3000000c1e8c2b82'
    }).then(result => {
      this.items = result.data
    }, error => {
      console.error(error)
    })
  }
}
</script>

<style scoped lang="scss">
  .investment-child-container {
    h3 {
      text-align: left;
    }
    p {
      text-align: left;
    }
  }
</style>
