<template>
  <div>
    <b-table :items="items" :fields="fields" />
  </div>
</template>

<script>
export default {
  name: 'NextExpirationDetail',
  props: ['detail'],
  data () {
    return {
      'fields': ['company', 'amount', 'total_instalments', 'paid_instalments'],
      'items': this.detail
    }
  }
}
</script>
