<template>
  <div class="investments-container">
    <b-img width="200" src="https://inversiones.dobleimpacto.cl/logo_web.png" />
    <b-card no-body>
      <b-tabs card v-model="tabIndex">
        <b-tab title="Alternativas de Inversión" :disabled="disabled[1]">
          <Projects v-if="true || tabIndex === 0" />
        </b-tab>
        <b-tab title="Inversiones" :disabled="disabled[0]">
          <InvestmentTab></InvestmentTab>
        </b-tab>
        <b-tab title="Vencimientos" :disabled="disabled[2]">
          <b-container fluid>
            <b-row>
              <b-col> <h2>Vencimientos</h2> </b-col>
            </b-row>
            <b-row>
              <b-col> <ITDView model="MD" noCrud noQSF noDownload /> </b-col>
            </b-row>
          </b-container>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>

<script>
import InvestmentTab from './InvestmentTab'
export default {
  name: 'Inversionista',
  components: { InvestmentTab },
  created () {},
  data () {
    return {
      showDetails: false,
      itemsInv2: [],
      fieldsInv2: [],
      modalIndex: 0,
      totalRows: 0,
      perPage: 10,
      currentPage: 0,
      tabIndex: 0,
      disabled: [false, false, false],
      filter: null,
      sortBy: ['En Curso', 'Cerrada'],
      modalInfo: {},
      seleccion: {},
      devoluciones: null,
      unoFields: null,
      dosFields: null,
      cuotasFields: null,
      cuatroFields: null
    }
  },
  methods: {
    projectDetails (item) {
      // this.modalInfo= {title: 'Detalle Inversión'};
      return this.$store
        .dispatch('form/fieldsGet', 'PD')
        .then(fields => {
          console.log('projectDetails')
          console.log(fields)
          fields.forEach(field => {
            this[`${field.key}Fields`] = field.fields
          })
        })
        .then(() => {
          return this.$http.get(`/APP/AAA/PD.json?type=data&id=${item._id}`).then(({body}) => {
            // Object.assign(this.modalInfo,body)
            // console.log('projectDetails',this.modalInfo)
            this.showDetails = true
            console.log('projectDetails', body)
            return body
          })
        })
    }
  },
  mounted () {}
}
</script>
