<template>
  <b-container fluid>
    <b-row>
      <b-col>
        <h2>Cartola de inversiones</h2>
      </b-col>
    </b-row>
    <b-row class="menu mt-2 mb-5">
      <b-col col cols="12" lg="3" sm="12">
        <b-button href="#investment-summary" v-smooth-scroll="{ duration: 1000, offset: -50 }">
          Resumen cartera
        </b-button>
      </b-col>
      <b-col col cols="12" lg="3" sm="12">
        <b-button href="#expiration-container" v-smooth-scroll="{ duration: 1000, offset: -50 }">
          Próximos vencimientos
        </b-button>
      </b-col>
      <b-col col cols="12" lg="3" sm="12">
        <b-button href="#investment-by-category" v-smooth-scroll="{ duration: 1000, offset: -50 }">
          Mis inversiones por sector
        </b-button>
      </b-col>
      <b-col col cols="12" lg="3" sm="12">
        <b-button href="#ods-impacted" v-smooth-scroll="{ duration: 1000, offset: -50 }">
          ODS impactadas
        </b-button>
      </b-col>
    </b-row>
    <InvestmentSummary></InvestmentSummary>
    <InvestmentSummaryDetail></InvestmentSummaryDetail>
    <NextExpiration></NextExpiration>
    <b-row id="investment-by-category" class="investment-child-container expiration-container mt-5 mb-5">
      <b-col col cols="12" lg="12" sm="12">
        <h3>Sectores impactados por mi inversión vigente</h3>
      </b-col>
      <b-col col cols="12" lg="8" sm="12" class="mb-4">
        <p>
          Doble Impacto trabaja por el desarrollo de  sectores de la economía que están contribuyendo al desarrollo de un país y región más equitativa y sustentable.
        </p>
      </b-col>
      <b-col col cols="12" lg="6" sm="12" class="main-chart">
        <InversionistaChart></InversionistaChart>
      </b-col>
      <b-col col cols="12" lg="6" sm="12">
        <b-row>
          <b-col col cols="12" lg="12" sm="12" class="chart-label-card" v-bind:style="{ borderColor: '#00c2a7' }">
            <b-row>
              <b-col col cols="9" lg="9" sm="9" class="chart-label-card-info">
                <div class="chart-label-card-title">
                  Área: Educación y cultura
                </div>
                <div class="chart-label-card-text">
                  <strong>Sectores:</strong>
                  <ul>
                    <li>
                      Educación de calidad: 25%
                    </li>
                    <li>
                      Industrias creativas: 25%
                    </li>
                    <li>
                      Turismo sostenible: 50%
                    </li>
                  </ul>
                </div>
              </b-col>
              <b-col col cols="3" lg="3" sm="3" class="chart-label-card-value">
                20%
              </b-col>
            </b-row>
          </b-col>
          <b-col col cols="12" lg="12" sm="12" class="chart-label-card" v-bind:style="{ borderColor: '#F64C90' }">
            <b-row>
              <b-col col cols="9" lg="9" sm="9" class="chart-label-card-info">
                <div class="chart-label-card-title">
                  Área: Desarrollo social e inclusión
                </div>
                <div class="chart-label-card-text">
                  <strong>Sectores:</strong>
                  <ul>
                    <li>
                      Habitat inclusivo y sostenible: 25%
                    </li>
                    <li>
                      Salud y calidad de vida: 25%
                    </li>
                    <li>
                      Inclusión social: 50%
                    </li>
                  </ul>
                </div>
              </b-col>
              <b-col col cols="3" lg="3" sm="3" class="chart-label-card-value">
                20%
              </b-col>
            </b-row>
          </b-col>
          <b-col col cols="12" lg="12" sm="12" class="chart-label-card" v-bind:style="{ borderColor: '#163c60' }">
            <b-row>
              <b-col col cols="9" lg="9" sm="9" class="chart-label-card-info">
                <div class="chart-label-card-title">
                  Área: Naturaleza y medio ambiente
                </div>
                <div class="chart-label-card-text">
                  <strong>Sectores:</strong>
                  <ul>
                    <li v-bind:style="{ borderColor: '#163c60' }">
                      Sistema alimentario: 35%
                    </li>
                    <li v-bind:style="{ borderColor: '#163c60' }">
                      Salud y calidad de vida: 40%
                    </li>
                    <li v-bind:style="{ borderColor: '#163c60' }">
                      Inclusión social: 25%
                    </li>
                  </ul>
                </div>
              </b-col>
              <b-col col cols="3" lg="3" sm="3" class="chart-label-card-value">
                60%
              </b-col>
            </b-row>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <b-row class="mt-5" id="ods-impacted">
      <b-col>
        <b-row>
          <b-col col cols="12" lg="8" sm="12">
            <h3>ODS impactados por mi inversión vigente</h3>
            <p>
              El 25 de septiembre de 2015, los líderes mundiales adoptaron un conjunto de objetivos globales para erradicar la pobreza, proteger el planeta y asegurar la prosperidad para todos como parte de una nueva agenda de desarrollo sostenible. Cada objetivo tiene metas específicas que deben alcanzarse en los próximos 15 años. Para alcanzar estas metas, todo el mundo tiene que hacer su parte: los gobiernos, el sector privado, la sociedad civil y personas como usted.
            </p>
          </b-col>
        </b-row>
        <b-row class="mt-2">
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/poverty/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-01.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/hunger/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-02.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/health/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-03.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/education/" target="_blank" class="active">
                <img src="../assets/images/S_SDG_Icons-01-04.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/gender-equality/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-05.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/water-and-sanitation/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-06.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/energy/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-07.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/economic-growth/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-08.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/infrastructure-industrialization/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-09.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/inequality/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-10-1.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/cities/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-11.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/sustainable-consumption-production/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-12.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/climate-change-2/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-13.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/oceans/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-14.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/biodiversity/" target="_blank" class="active">
                <img src="../assets/images/S_SDG_Icons-01-15.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/peace-justice/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-16.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <a href="https://www.un.org/sustainabledevelopment/es/globalpartnerships/" target="_blank">
                <img src="../assets/images/S_SDG_Icons-01-17.jpg" />
              </a>
            </b-card>
          </b-col>
          <b-col col cols="6" lg="2" sm="12" class="impacted-investment">
            <b-card>
              <img src="../assets/images/S_SDG_Icons-01-18.jpg" />
            </b-card>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import InversionistaChart from './InvestmentTab/InversionistaChart'
import InvestmentSummary from './InvestmentTab/InvestmentSummary'
import InvestmentSummaryDetail from './InvestmentTab/InvestmentSummaryDetail'
import NextExpiration from './InvestmentTab/NextExpiration'
export default {
  name: 'InvestmentTab',
  components: { InversionistaChart, InvestmentSummary, InvestmentSummaryDetail, NextExpiration },
  data () {
  }
}
</script>

<style scoped lang="scss">
  $soft-color: #EEE8F1;
  $black-color: #5B3463;
  .investments-container {
    h3, p {
      text-align: left;
    }
    .mt-5 {
      margin-top: 6rem !important;
    }
    .impacted-investment:last-child {
      .card {
        img {
          -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
          filter: grayscale(0%);
        }
      }
    }
    .impacted-investment {
      margin-top: 1em;
      color: white;
      box-sizing: border-box;
      .card {
        .card-body {
          padding: 0;
        }
        a:hover, .active {
          img {
            -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
            filter: grayscale(0%);
          }
        }
        img {
          width: 100%;
          -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
          filter: grayscale(100%);
        }
      }
      .impacted-investment-info {
        align-items: center;
        justify-content: center;
        font-weight: bold;
        > div {
          margin: 0;
          padding: 0;
        }
        :first-child {
          font-size: 1em;
          text-align: center;
        }
        :last-child {
          text-align: left;
          text-transform: uppercase;
          padding-left: 0.3em;
          font-size: 0.7em;
          line-height: 1.2em;
        }
      }
      img {
        width: 100px;
      }
    }
    .menu {
      margin-bottom: 1em;
      > div {
        margin-bottom: 1em;
        button, a {
          width: 100%;
        }
      }
    }
    .main-chart  > div {
      height: 480px;
    }
    .chart-label-card {
      background: $soft-color;
      text-align: left;
      height: 150px;
      border-left: 2em solid black;
      margin-bottom: 1em;
      .chart-label-card-info {
        padding: 0.5em 0 0 1.4em;
        @media (max-width: 600px) {
          font-size: 0.8em;
        }
      }
      .chart-label-card-text {
        font-size: 1.1em;
        ul {
          padding-left: 1em;
        }
        strong {
          font-size: 0.9em;
        }
      }
      .chart-label-card-title {
        font-weight: bold;
        font-size: 1em;
      }
      .chart-label-card-value {
        background-color: #593466;
        font-size: 3em;
        color: white;
        height: 150px;
        line-height: 150px;
        text-align: center;
        @media (max-width: 600px) {
          font-size: 1em;
        }
      }
    }
  }
</style>
