/*Fuentes*/

@font-face {

    font-family: segoeuil;

    src:

        local("Segoe UI Light"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff2) format("woff2"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.woff) format("woff"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/light/latest.ttf) format("truetype");

    font-weight: 100;

}



@font-face {

    font-family: segoeuisl;

    src:

        local("Segoe UI Semilight"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff2) format("woff2"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.woff) format("woff"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semilight/latest.ttf) format("truetype");

    font-weight: 200;

}



@font-face {

    font-family: segoeui;

    src:

        local("Segoe UI"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff2) format("woff2"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.woff) format("woff"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/normal/latest.ttf) format("truetype");

    font-weight: 400;

}



@font-face {

    font-family: segoeuib;

    src:

        local("Segoe UI Bold"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff2) format("woff2"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.woff) format("woff"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/bold/latest.ttf) format("truetype");

    font-weight: 600;

}



@font-face {

    font-family: segoeuisb;

    src:

        local("Segoe UI Semibold"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff2) format("woff2"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.woff) format("woff"),

        url(//c.s-microsoft.com/static/fonts/segoe-ui/west-european/semibold/latest.ttf) format("truetype");

    font-weight: 700;

}

@font-face {

    font-family: 'apex_newbook';

    src: url('https://www.bu.edu/cdn/fonts/ApexNew/ApexNew-Book.woff2') format('woff2'), url('https://www.bu.edu/cdn/fonts/ApexNew/ApexNew-Thin.woff') format('woff');

    font-weight: normal;

    font-style: normal;

}


@font-face {

    font-family: 'cocogoose_prolight';

    src: url('./fonts/Cocogoose_Pro_Light_Trial.woff') format('woff');

    font-weight: normal;

    font-style: normal;

}

/*

@font-face {

    font-family: 'cocogoose_proultralight';

    src: url('../fonts/zetafonts_-_cocogoose_pro_ultralight-webfont.woff2') format('woff2'), url('../fonts/zetafonts_-_cocogoose_pro_ultralight-webfont.woff') format('woff');

    font-weight: normal;

    font-style: normal;

} */

body {

    color: #626262;

    font-family: 'apex_newbook';

    font-size: 1rem;

}

h1, h2, h3, h4, h5, h6 {

    text-transform: uppercase;

    font-family: 'cocogoose_prolight';

}

th {

    font-family: 'cocogoose_prolight';

}

h1 {

    font-size: 1.2rem;

    padding: 1rem 0;

}

h2 {

    font-size: 1.5rem;

    padding: 1rem 0;

    color: #e60064;

    font-family: 'apex_newbook';

}

 .custom-select.is-valid, .form-control.is-valid, .was-validated .custom-select:valid, .was-validated .form-control:valid {

 border-color:#EBEBEB;

}

.col-form-label {

    text-transform: uppercase;

}

.btn-secondary {

    color: #FFF;

    background-color: #e60064;

    border-color: #e60064

}

.btn-secondary:hover {

    background-color: #4a2c62;

    border-color: #4a2c62;

}

.btn-primary {

    background-color: #4a2c62;

    border-color: #4a2c62;

    color: #FFF;

}

.btn-primary:hover {

    background-color: #e60064;

    border-color: #e60064

}

.nav-tabs a.nav-link {

    color: #4a2c62;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {

    color: #e60064;

}

.page-item.active .page-link {

    background-color: #4a2c62;

    border-color: #4a2c62;

}

 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {

 -webkit-appearance: none;

 margin: 0;

}

.bg-navbar {

    background-color: white;

}

.filtro-estado {

    padding: 1rem 0;

}

.table-percentage, .table-currency, .table-rut {

    text-align: right;

}

.table td, .table th {

    font-size: 1rem;

    border: white 1px solid;

}

.table td {

    color: #585857;

    font-family: sans-serif;

    font-weight: 400;

}

.table th {

    color: white;

    background-color: #b29db7;

}

.table-striped tbody tr:nth-of-type(odd) {

    background-color: #ebe6ee;

    color: #585857;

}

.table tr:nth-child(2n) {

    background-color: #d4ccdb;

    color: #585857;

}

/*tabs*/



.card-header {

    background-color: rgba(0, 0, 0, 0.0);

}

.card {

    border: 1px solid rgba(0, 0, 0, 0.0);

}

/*footer*/



.footer {

    background-image: url(/images/footer.jpg);

    background-size: 100%;

    color: #FFF;

    height: 25%;

    font-family: apex_newbook;

    margin-top: 2%;

}

.footer .footer-logo {

    /*width: 180px;*/

    padding-bottom: 1rem;

}

.footer h4 {

    color: #FFF;

}

.footer p {

    font-weight: 100;

}

.footer a {

    color: #FFF;

}

.footer a:hover {

    color: #FFF;

}

.footer .redes-sociales {

    width: 70%;

    font-size: 1.8rem;

    justify-content: space-around;

}

.footer .redes-sociales li {

    display: inline-block;

    margin-right: 5px;

}

.footer .redes-sociales a:hover {

    color: rgba(255, 255, 255, 0.6);

}

/*registro-y-login*/

h2.title-h2_center {

    font-size: 1.5rem;

    padding: 1rem 0;

    color: #e60064;

    font-family: 'apex_newbook';

    text-align: center;

}

/*barra progress*/

.progress-bar {

    background-color: #4a2c62;

}

.progress-bar span {

    padding-left: 3px;

}

.progress {

    background-color: rgba(74, 44, 98, 0.5);

}

.custom-card {
    background-color: #EEE8F1;
    font-color: #5B3463;
    margin-bottom: 1em;
}

.custom-card .more-info {
    display: block;
}

